<h1><%=@post.title %></h1>

<%= image_tag @post.image.url(:large), class: 'img-show' if @post.image? %>

<p><%=@post.body.html_safe %></p>
<%=link_to 'Изменить', edit_post_path(@post) %>
|
<%=link_to 'Удалить', post_path(@post), method: :delete, data: {confirm: 'Вы серьезно?'} %>